*.egg-info/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
node_modules/
yarn.lock
.project
.pydevproject
.settings/
jupyter_widget_hwt.egg-info
js/package-lock.json
jupyter_widget_hwt/static/

# Compiled javascript
jupyter_widget_hwt/static/


# OS X
.DS_Store
